html{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #373b50;
    padding: 0;
    margin: 0;
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.UserPfp{
    overflow: hidden;
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 9em;
    height: 9em;
    top: 6em;
    border-radius: 10em;
    border: 0.3em double #777b91;
}
.logos{
    width: 3em;
    filter: grayscale(100%);
}
.weee:hover{
    .logos{
        animation: wee 0.7s 0s;
    }
}

@keyframes wee {
    0%{
        transform: translateY(0em);

    }
    100%{
        transform: translateY(-3em);
        filter: grayscale(0%);
    }
}
span{
    font-size: 2em;
}
.card-body{
    height: 10em;
}
img{
    width: 10em;
}
